.main-tienda{
    .h-250{
        height: 250px;
    }
    .p-primera {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    } 
    .p-segunda{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }
    .p-tercera{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }
}