.main {
    h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }

    .primera {
        .letter {
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
        }

        .min-letter {
            font-family: 'Roboto', sans-serif;
            font-family: cursive;
            font-size: 15px;

        }
    }

}